.github {
  position: absolute;
  right: 1rem;
  top: 8px;
  right: 90px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  p{
    font-size: 1rem;
  }
  
  i{
    margin-left: 5px;
    font-size: 2rem;
    &:hover{
      color: black;
      
    }
  }
}